@import "tailwindcss";

@theme {
  --color-primary-darkBlue: #043873;
  --color-primary-liteBlue: #4f9cf9;
  --color-secondary-banana: #ffe492;
  --color-secondary-blue: #ffe492;
  --color-secondary-white: #ffffff;
  --color-secondary-black: #ffe492;
}
